.ipynb_checkpoints
.idea
venv
results
results-vua1
data
intermediate-task-vua
results-unweighted
results-weighted
redewiedergabe
results-vua2
results2
results3
results4
DLDH_BERT_MetaphorDetection_Ternary.ipynb
DLDH_BERT_Continual_pretraining.ipynb
DLDH_BERT_DataPreprocessing.ipynb
DLDH_BERT_NonMetaphor_Extraction.ipynb
MBERT_Metaphor_classification_Intermediate_task_TroFi.ipynb
MBERT_Token_classification_VUA.ipynb
logs/*
intermediate-task
intermediate-task-trofi
soft-labels
